body {
	padding-top: 60px;
}

#mapVis {
	height:450px;
}
#filterform {
    width:300px;
}
#timeVis {
	height: 40px;
}
.brush{
    fill: black;
    fill-opacity: .5;
    pointer-events: none;
}
.x.axis text {
    font-size: 28px;
    color: blue;
    font-weight: bold;
}

.axis line,
.axis path {
    fill: none;
    stroke: none;
}
.leaflet-popup-content-wrapper {
  background:rgba(0,0,0,0.8);
  color:#fff;
  font-size:12px;
  line-height:12px;
  }
.leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.leaflet-popup-tip-container {
  width:0px;
  height:0px;
  }