#map{
  height: 450px;
}
.M {
color: blue;
}
.F {
color: fuchsia;
}
.N {
  color: gray;
}
.distance {
  font-size: 26px;
}
#distCount, #timeCount, #totalCount {
  font-weight: bold;
}
#runningVis {
  padding-left: 20px
}

#pieVis, #progressVis {
  height: 200px;
}
.date {
  font-size:48px;
  font-weight:bold;
}
.total {
  font-size: 32px;
}
